.align-middle {
  display: flex;
  color: #252a2a;
  font-weight: bold;
  font-size: 28px;
  background-color: #cae9fd;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  height: 80px;
  border: 1px #8a96a7 double;
}

.form-inline {
  font-size: 16px;
  font-weight: bold;
  background-color: #ebfef2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  height: 80px;
  border: 1px #8a96a7 double;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #49525d !important;
  height: 30px !important;
  width: 140px !important;
  font-size: 11px !important;
  justify-content: center;
  border: 1px #343d4f !important;
}


.form-group {
  font-size: 14px;
  border-width: thin;
  border-radius: 3px;
  height: 30px;
  width: 80px;
  margin: 3px ;
}

select.form-group {
  width: 180px;
}

input.form-group {
  width: 120px;
}

.table {
  display: table;
  text-align: center;
  font-size: 14px;
  background-color: #fdf0e9;
  margin-top: 20px;
}
.table_header {
  font-weight: bold;
}

.recentActivities .table tbody td {
  border-bottom: 10px solid white;
  border-radius: 5px;
  vertical-align:bottom;

}

.Achievements table {
  background-color: #fcecec;
  border-radius: 10px;
}

.totals table {
  background-color: #f1ebfd;
  border-radius: 10px;

}


